@import url('https://fonts.cdnfonts.com/css/tt-firs-neue-trl');

:root {
    --main-font: 'TT Firs Neue Trl';
    --main-dark-color: #004AAD;
    --main-light-color: #CFEEFF;
    --main-light-gray: #f7f7fd;
    --absolute-white: #FFFFFF;

}

body {
    padding: 1rem 2rem 0 2rem;
    margin: 0%;
    font-family: var(--main-font);
    background-color: var(--main-light-gray);
}

.header-item.btn {
    padding: 0.4rem 0.4rem 0.2rem 0.4rem;
    border-width:0.1rem;
    border-radius: 0.3rem;
    background-color: #FFF;
    fill: var(--main-dark-color);
    border-color: var(--main-dark-color);
    cursor: pointer;
}

.header-item.buttons {
    margin-left: auto;
    margin-right: 0.5rem;
}

.container.header {
    display: inline-flex;
    margin: -1rem -2rem 1rem ;
    padding: 1rem 2rem;
    border-bottom: 0.1rem solid #cecece;
    position: sticky;
    top: 0;
    background-color: var(--absolute-white);
}

.header-item.logo {
    height: 4rem;
    margin: 0 0.5rem 0 0.5rem;
}

.header-item.title {
    font-style: italic;
    font-weight: 400;
    margin: 0%;
    font-size: 2rem;
}

.title-bold{
    font-weight: 900;
}

section.catalog {
    top: 20rem;
    padding: 1rem 1rem 1rem 1rem;
    margin: 0.5rem 0 0.5rem 0;
    border-radius: 1rem 1rem 0rem 0rem;
    background-color: var(--main-light-gray)
}

section.catalog .catalog-header {
    font-weight: 300;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 20rem));
    gap: 2rem;
    justify-content: center;
}

.product-list .product-card {
    box-shadow: 5px 5px rgba(0, 0, 0, 0.041);
    padding: 2rem;
    background-image: linear-gradient(.50turn, var(--main-light-color), var(--absolute-white));
    padding: 0;
    border-radius: 1rem 1rem 0rem 0rem;
    border: 0.05rem solid #cecece;
}


.product-card .card-header {
    border-radius: 1rem 1rem 0rem 0rem;
    padding: 1rem;
    background-color: #FFF;
}

.product-card .product-image {
    display: block;
    width: 100%;
    max-height: 20rem;
    min-height: 20rem;
    border-radius: 1rem 1rem 0rem 0rem;
}

.product-card .product-data {
    margin: 0 1rem 0 1rem;
}

.product-data * {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.product-data .product-price {
    font-size: 2rem;
    font-weight: 900;
    color: var(--main-dark-color);
}

.product-data .product-description {
    text-align: inter-word;
    font-size: 0.9rem;
    margin-bottom: 0;
}

.card-btns {
    display: none;
}

.product-card:hover .card-btns{
    display:flex;
    position: relative;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.card-btn{
    display: flex;
    position: relative;
    padding: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}


.see-more-btn {
    cursor: pointer;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: var(--main-dark-color);
    border: 0;

}

@media (min-width: 400px) {
    
    .container.header {
        padding: 0.2rem;
        max-height: 4rem;
        align-items: center;
        display: flex;
    }
    
    .header-item {
        font-style: italic;
        font-weight: 400;
    }
    
    .header-item.btn {
        padding: 0.4rem 0.4rem 0.2rem 0.4rem;
        border-width:0.1rem;
        border-radius: 0.3rem;
        background-color: #FFF;
        fill: var(--main-dark-color);
        border-color: var(--main-dark-color);
        cursor: pointer;
    }

    .header-item.buttons {
        margin-left: auto;
        margin-right: 0.5rem;
    }
    

}
